@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* General */
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
  }

::-webkit-scrollbar-thumb {
    background: var(--main-blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-blue-color);
}

:root {
    --main-blue-color: #17a4e5;
    /* #46B1C9; */
}

.page-wrapper {
    width: 100%;
}

.section-wrapper-navigation {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.section-wrapper {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.vertical-padding {
    padding-top: 36px;
    padding-bottom: 40px;
}

.box {
    flex-grow: 1;
    flex-basis: 0;
}

.main-logo {
    flex-grow: 0;
    padding: 5px;
    width: 300px;
    text-align: center;
}

section {
    width: 100%;
    padding: 12px;
}

.background-grey {
    background-color: #f3f3f3;
}

.background-white {
    background-color: white;
}

.background-black {
    background-color: #1c1c1c;
}

.text-grey {
    color: #f3f3f3;
}

.text-white {
    color: white;
}

.text-black {
    color: #1c1c1c;
}

.float-right {
    float: right;
}

.bold-text {
    font-weight: 700;
}

h2 {
    padding-bottom: 24px;
}

/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

ul.text-black li a {
    text-decoration-line: none;
    display: block;
    padding: 8px;
    color: #1c1c1c;
    transition: 0.15s;
}

ul li a:hover {
    color: var(--main-blue-color);
    transition: 0.15s;
}

/* Welcome message */
h1.welcome-message {
    margin: 0 auto;
    padding: 12px;
}

/* Product upload */
form {
    width: 100%;
    padding-bottom: 24px;
    margin: 0 auto;
}

.form-button {
    width: 100%;
    margin-top: 6px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
}

input[type=submit] {
    background-color: black;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 36px;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 700;
}

input[type=submit]:hover {
    opacity: 86%;
    transition: 0.3s;
}

.input-product-category {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    background-image: url("../images/DropdownIcon.png");
    background-position: 94%;
    background-size: 4%;
    background-repeat: no-repeat;
    appearance: none;
}

.two-elements {
    display: flex;
    gap: 5%;
    margin-top: 24px;
}

.single-element-left {
    flex-basis: 33.3333%;
}

.single-element-left h2 {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
}

.single-element-right {
    flex-basis: 66.6666%;
}

.single-element-right h2 {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
}

.main-logo {
    display: flex;
    justify-content: center;
}

.back-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    display: none;
    background-color: var(--main-blue-color);
    border-radius: 50%;
    transition: opacity 0.15s ease-in-out;
}

.back-to-top:hover {
    opacity: 0.8;
}

.show-back-to-top {
    display: block;
}

.back-to-top img {
    transform: scaleY(-1);
    margin-top: 10px;
    margin-left: 12px;
}

/* Product management */
/* Users management */