@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* General */
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--main-blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-blue-color);
}

:root {
    --main-blue-color: #17a4e5;
}

.page-wrapper {
    width: 100%;
}

.section-wrapper-navigation {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-wrapper {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

a.null-link {
    all: unset;
}

.vertical-padding {
    padding-top: 36px;
    padding-bottom: 40px;
}

.box {
    flex-grow: 1;
    flex-basis: 0;
}

.main-logo {
    flex-grow: 0;
    padding: 5px;
    width: 300px;
    text-align: center;
}

section {
    width: 100%;
    padding: 12px;
    margin-bottom: 36px;
}

.background-grey {
    background-color: #f3f3f3;
}

.background-white {
    background-color: white;
}

.background-black {
    background-color: #1c1c1c;
}

.text-grey {
    color: #f3f3f3;
}

.text-white {
    color: white;
}

.text-black {
    color: #1c1c1c;
}

.float-right {
    float: right;
}

.bold-text {
    font-weight: 700;
}

h2 {
    padding-bottom: 24px;
}

/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

ul.text-black li a {
    text-decoration-line: none;
    display: block;
    padding: 6px;
    color: #1c1c1c;
    transition: 0.15s;
}

ul li a:hover {
    color: var(--main-blue-color);
    transition: 0.15s;
}

/* Welcome message */
h1.welcome-message {
    margin: 0 auto;
    padding: 12px;
}

/* Product upload */
form {
    width: 100%;
    margin: 0 auto;
}

.form-button {
    width: 100%;
    margin-top: 6px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
}

input[type=submit] {
    background-color: black;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 36px;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 700;
}

input[type=submit]:hover {
    opacity: 86%;
    transition: 0.3s;
}

.input-product-category {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    background-image: url("../images/DropdownIcon.png");
    background-position: 94%;
    background-size: 4%;
    background-repeat: no-repeat;
    appearance: none;
}

.two-elements {
    display: flex;
    gap: 5%;
    margin-top: 24px;
}

.single-element-left {
    flex-basis: 33.3333%;
}

.single-element-left h2 {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
}

.single-element-right {
    flex-basis: 66.6666%;
}

.single-element-right h2 {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    display: none;
    background-color: var(--main-blue-color);
    border-radius: 50%;
    transition: opacity 0.15s ease-in-out;
}

.back-to-top:hover {
    opacity: 0.8;
}

.show-back-to-top {
    display: block;
}

.back-to-top img {
    transform: scaleY(-1);
    margin-top: 10px;
    margin-left: 12px;
}

.remove-icon {
    display: inline-block;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.close-icon {
    height: 36px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.remove-icon:hover {
    animation: shake 0.5s ease-in-out;
    animation-iteration-count: 1;
}

.add-icon:hover {
    animation: rotate 0.5s ease-in-out;
    animation-iteration-count: 1;
}

.close-icon:hover {
    animation: rotate 0.5s ease-in-out;
    animation-iteration-count: 1;
}

.clear-link {
    all: unset;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px) rotate(-10deg);
    }

    40% {
        transform: translateX(4px) rotate(8deg);
    }

    60% {
        transform: translateX(-3px) rotate(-5deg);
    }

    80% {
        transform: translateX(2px) rotate(3deg);
    }

    100% {
        transform: translateX(0);
    }
}

/* Product management */
table.product-edit th,
td {
    text-align: left;
    padding-right: 6px;
}

table.product-edit {
    width: 100%;
    border-collapse: collapse;
}

table.product-edit thead th {
    position: sticky;
    top: 0;
    background-color: white;
}

div.product-table-div {
    max-height: 360px;
    overflow-y: scroll;
}

table.product-edit a {
    text-decoration-line: none;
    display: block;
    color: #1c1c1c;
    transition: 0.15s;
}

table.product-edit td {
    padding: 8px 0px;
}

table.product-edit tr {
    border-bottom: 1px solid grey;
}

table.product-edit a:hover {
    color: #17a4e5;
}

label {
    float: left;
    padding-bottom: 4px;
    color: #1c1c1c;
    font-weight: 300;
}

/* Users management */

table.user-edit th,
td {
    text-align: left;
    padding-right: 6px;
}

table.user-edit {
    width: 100%;
    border-collapse: collapse;
}

table.user-edit td:last-child {
    text-align: right;
}

table.user-edit thead th {
    position: sticky;
    top: 0;
    background-color: white;
}

div.user-table-div {
    max-height: 360px;
    overflow-y: scroll;
}

table.user-edit a {
    text-decoration-line: none;
    display: block;
    color: #1c1c1c;
    transition: 0.15s;
}

table.user-edit td {
    padding: 8px 0px;
}

table.user-edit tr {
    border-bottom: 1px solid grey;
}

table.user-edit a:hover {
    color: #17a4e5;
}