table.cart-table {
    width: 85%;
    margin: 0 auto;
    padding: 24px 0;
    text-align: left;
}

table.cart-table td {
    padding: 4px 0 4px 12px;
    border-bottom: 1px solid lightskyblue;
}

table.cart-table tr td:first-child {
    font-weight: 300;
    width: 20%;
}

table.cart-table tr td:not(:first-child) {
    font-weight: 400;
}

table.cart-table th {
    padding: 4px 0 4px 12px;
}

table.cart-table .last-row td {
    border-bottom: none;
}

.image-button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}