.section-wrapper-categories {
    width: 75%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

.categories-wrapper {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 4%;
}

.product-category {
    display: flex;
    align-items: center;
    flex-basis: 22%;
    margin-bottom: 2%;
    padding: 12px;
    border-bottom: 2px solid #f3f3f3;
}

.product-category h3 {
    float: left;
    margin-left: 24px;
    font-weight: 400;
    top: 40%;
    position: relative;
}

.product-category img {
    float: left;
}

.product-category a {
    color: #1c1c1c;
    transition: 0.15s;
}

.product-category a:hover {
    color: var(--main-blue-color);
    transition: 0.15s;
}

.section-wrapper-categories h1 {
    padding-bottom: 36px;
}