.contact-title {
    display: flex;
    justify-content: space-between;
    gap: 8%;
}
.contact-title-text {
    width: 100%;
    padding-top: 36px;
}
.full-width {
    width: 100%;
}
table.contactus-table {
    text-align: left;
    padding-top: 12px;
}
table.contactus-table th {
    width: 180px;
    padding-bottom: 6px;
    font-weight: 400;
}
.contactus-table th a {
    color: var(--main-blue-color);
}
.contact-info {
    padding-bottom: 84px;
    padding-top: 48px;
}
.phone-numbers {
    padding-top: 36px;
}
.email-addresses {
    padding-top: 36px;
}
div.contactus-section-wrapper {
    display: flex;
    width: 75%;
    margin: 0 auto;
}