.filtered-products-top {
    width: 75%;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
    margin: 0 auto;
    overflow: hidden;
}

.filtered-products-left {
    float: left;
    width: 30%;
    margin-right: 4%;
}

.filtered-products-right {
    float: right;
    width: 66%;
}

.sorting-button {
    width: 100%;
}

.product-category-div {
    display: flex;
    text-align: left;
}

.product-category-title {
    font-weight: 700;
    font-size: 36px;
    padding-right: 24px;
}

.product-category-count {
    color: gray;
    font-weight: 300;
    font-size: 36px;
}

form.sorting-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    background-image: url("../images/DropdownIcon.png");
    background-position: 94%;
    background-size: 14px;
    background-repeat: no-repeat;
    appearance: none;
    color: grey;
}

hr {
    margin: 24px 0px;
    width: 100%;
}

/* Catalog Products */
.filtered-product {
    width: 100%;
    opacity: 100%;
    background-color: #f3f3f3c0;
    height: 200px;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    gap: 4%;
}

.filtered-product-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    min-width: 180px;
    flex-basis: 0;
    flex-grow: 1;
}

.filtered-product-info {
    flex-basis: 0;
    flex-grow: 3;
    text-align: left;
}

.filtered-product-info h2 {
    font-weight: 300;
    font-size: 20px;
}

.filtered-product-info h1 {
    font-size: 20px;
    font-size: 700;
}

.filtered-actions {
    flex-basis: 0;
    flex-grow: 3;
    text-align: right;
}

.filtered-price h1 {
    font-size: 36px;
    font-weight: 700;
}

.filtered-available {
    color: #16b888;
}

.filtered-not-available {
    color: #ff726f;
}

.inline-block {
    display: inline-block;
}

.sorting-title {
    font-weight: 700;
    font-size: 36px;
}

.manufacturers {
    text-align: left;
}

.display-flex {
    display: flex;
}

p.checkbox-input-text {
    display: inline-block;
}

/* Custom checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    margin-bottom: 6px;
}

.checkbox-container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    transition: 0.15s;
}

.checkbox-container:hover input~.custom-checkbox {
    background-color: #dfdfdf;
    transition: 0.15s;
}

.checkbox-container input:checked~.custom-checkbox {
    background-color: var(--main-blue-color);
}

.custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.custom-checkbox:after {
    display: block;
}

.checkbox-container .custom-checkbox:after {
    left: 8px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    transition: 0.15s;
}

a.product-link {
    text-decoration: none;
    color: inherit;
    transition: 0.15s;
}

div.filtered-products-title {
    transition: 0.15s;
}

a.product-link:hover .filtered-products-title {
    color: var(--main-blue-color);
}

div.position-relative {
    position: relative;
}

div.bottom-div {
    position: absolute;
    bottom: 0;
    width: 100%;
}

img.action-buttons {
    transition: 0.15s;
    cursor: pointer;
    margin-left: 8px;
    filter: grayscale(100);
}

img.action-buttons:hover {
    transition: 0.15s;
    filter: grayscale(0);
}

div.star-reviews {
    padding: 6px 0px;
}
div.star-reviews p {
    position: relative;
    top: -2px;
}