div.footer-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

footer li {
    float: none;
    padding: 2px;
}

footer ul li a {
    text-decoration-line: none;
    padding: 0px;
    color: grey;
    transition: 0.15s;
}

footer ul li a:hover {
    color: var(--main-blue-color);
    transition: 0.15s;
}

.text-dark-grey {
    color: grey;
}

.footer-padding {
    padding-top: 46px;
    padding-bottom: 46px;
}
ul.payingmethods {
    display: flex;
}
ul.payingmethods li {
    float: left;
    padding: 0px;
    margin-right: 24px;
    margin-bottom: 16px;
    cursor: pointer;
}

ul.payingmethods li img {
    filter: grayscale(100%);
    transition: 0.15s;
}

ul.payingmethods li:hover img {
    filter: grayscale(0%);
    transition: 0.15s;
}

footer h3 {
    padding-bottom: 16px;
}

.yourbenefits img {
    padding-right: 6px;
}

ul.socialIcons li {
    float: left;
    padding: 0px;
    margin-right: 12px;
    margin-bottom: 16px;
    cursor: pointer;
}

ul.socialIcons li img {
    filter: grayscale(100%);
    transition: 0.15s;
}

ul.socialIcons li:hover img {
    filter: grayscale(0%);
    transition: 0.15s;
}
p.footer-copyright-text {
    clear: both;
}
div.newsletter {
    width: 85%;
    margin-top: 30px;
    display: flex;
}
div.newsletter form {
    width: 100%;
}
div.newsletter input[type=email] {
    width: 70%;
    margin-right: 6px;
}
div.newsletter input[type=submit] {
    border-radius: 0;
    background-color: var(--main-blue-color);
    width: 25%;
    font-weight: 400;
    font-size: 14px;
}