@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* General */
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-blue-color: #17a4e5;
    /* #46B1C9; */
}

.page-wrapper {
    width: 100%;
}

.section-wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.vertical-padding {
    padding-top: 36px;
    padding-bottom: 40px;
}

.box {
    flex-grow: 1;
    flex-basis: 0;
}

section {
    width: 100%;
    padding: 12px;
}

.background-grey {
    background-color: #f3f3f3;
}

.background-white {
    background-color: white;
}

.background-black {
    background-color: #1c1c1c;
}

.text-grey {
    color: #f3f3f3;
}

.text-white {
    color: white;
}

.text-black {
    color: #1c1c1c;
}

.float-right {
    float: right;
}

.bold-text {
    font-weight: 700;
}

/* Section 01 */
.main-logo {
    padding: 18px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.main-logo:hover {
    transform: rotate(-4deg) scale(94%);
    transition: 0.3s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    float: left;
}

ul.text-black li a {
    text-decoration-line: none;
    display: block;
    padding: 8px;
    color: #1c1c1c;
    transition: 0.15s;
}

ul.text-white li a {
    text-decoration-line: none;
    display: block;
    padding: 8px;
    color: #ffffff;
    transition: 0.15s;
}

ul li a:hover {
    color: var(--main-blue-color);
    transition: 0.15s;
}

/* Section 02 */

/* Section 03 */
h1 {
    font-size: 36px;
}

.greeting-message {
    position: relative;
    width: 50%;
    text-align: center;
    padding: 16px;
    margin: 0 auto;
}

.block {
    display: inline-block;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.padding-left {
    padding-left: 16px;
}

.welcome-title {
    font-size: 32px;
}

/* back-to-top button */
.back-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    display: none;
    background-color: var(--main-blue-color);
    border-radius: 50%;
    transition: opacity 0.15s ease-in-out;
}

.back-to-top:hover {
    opacity: 0.8;
}

.show-back-to-top {
    display: block;
}

.back-to-top img {
    transform: scaleY(-1);
    margin-top: 10px;
    margin-left: 12px;
}