div.products-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 48px;
}

div.product-highlight {
    padding: 18px;
    flex: 1;
    text-align: left;
    transition: 0.15s;
    opacity: 100%;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
}

div.product-highlight:hover {
    transition: 0.15s;
    box-shadow: 0px 0px 18px 0px var(--main-blue-color);
}

div.product-highlight-image {
    transition: 0.15s;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 16px;
}

.products-section {
    text-align: center;
    width: 100%;
}

div.products-title {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 12px;
}

div.products-title h1 {
    font-size: 36px;
    letter-spacing: -1px;
}

div.product-highlight h1 {
    text-align: left;
    font-size: 26px;
}

div.product-highlight h2 {
    font-size: 18px;
    font-weight: 700;
}

div.product-highlight h3 {
    font-size: 18px;
    font-weight: 300;
}

div.product-highlight h3.salesCount {
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    color: grey;
}

h1.text-decoration-line {
    text-decoration: line-through;
    color: black;
    font-weight: 400;
    text-decoration-color: var(--main-blue-color);
}

h1.left {
    float: left;
}

h1.right {
    float: right;
}

p.discount-text {
    color: var(--main-blue-color);
    font-weight: 400;
}

div.star-reviews {
    width: 100%;
}