.newproduct-form {
    width: 100%;
    padding: 0;
}

.center-element {
    text-align: center;
}

section.newproduct-form form {
    width: 100%;
}

.input-type {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    background-image: url("../images/DropdownIcon.png");
    background-position: 96%;
    background-size: 14px;
    background-repeat: no-repeat;
    appearance: none;
    color: grey;
}

textarea {
    width: 100%;
    min-height: 24px;
    max-width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    color: grey;
}

.two-inputs {
    width: 100%;
    gap: 2%;
    display: flex;
    justify-content: space-between;
}

.three-inputs {
    width: 100%;
    gap: 2%;
    display: flex;
    justify-content: space-between;
}

.input-div-two {
    width: 49%;
}

.input-div-three {
    width: 32%;
}

.form-buttons {
    width: 100%;
    gap: 2%;
    display: flex;
    justify-content: space-between;
}

input[type=reset] {
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 36px;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 700;
}

select {
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #f3f3f3;
    transition: 0.3s;
}

#add-extra-inputs img {
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: 0.15s;
    opacity: 100%;
    margin-top: 12px;
    margin-bottom: 24px;
}

#add-extra-inputs img:hover {
    opacity: 90%;
    transition: 0.15s;
}