.error-paragraph {}

.signup-paragraph {}

.section-signup {
    padding-top: 36px;
    text-align: center;
}

div.signup-image {
    margin-top: 36px;
}

.signup-form {
    width: 100%;
}

.signup-form h2 {
    letter-spacing: -1px;
}

.signup-section {
    width: 38%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 4%;
}

.signup-section h2 {
    font-size: var(--h2-laptop);
    padding-bottom: 12px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
}

.input-state {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    background-image: url("../images/DropdownIcon.png");
    background-position: 94%;
    background-size: 14px;
    background-repeat: no-repeat;
    appearance: none;
    color: grey;
}

.center-items {
    text-align: center;
}

form h2 {
    margin: 0 auto;
    padding-bottom: 12px;
}

.two-inputs {
    width: 100%;
    gap: 2%;
    display: flex;
    justify-content: space-between;
}

.input-div {
    width: 49%;
}

.two-inputs .address {
    width: 66%
}

.two-inputs .postal-code {
    width: 32%;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 6px;
}

input[type=submit] {
    background-color: var(--main-blue-color);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    font-size: 16px;
    transition: all 0.15s linear;
    font-weight: 700;
    outline: 3px solid var(--main-blue-color);
}

input[type=reset] {
    background-color: white;
    border: none;
    color: var(--main-blue-color);
    cursor: pointer;
    border-radius: 12px;
    font-size: 16px;
    transition: all 0.15s linear;
    font-weight: 700;
    outline: 3px solid var(--main-blue-color);
}

input[type=submit]:is(:hover, :focus) {
    outline-offset: 3px;
}

input[type=reset]:is(:hover, :focus) {
    color: white;
    background-color: var(--main-blue-color);
}

.signin-link {
    color: black;
}

#showPassword {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}