footer li {
    float: none;
}
footer ul li a {
    text-decoration-line: none;
    padding: 0px;
    color: grey;
    transition: 0.15s;
}
footer ul li a:hover {
    color: #46B1C9;
    transition: 0.15s;
}
.text-dark-grey {
    color: grey;
}
.footer-padding {
    padding-top: 46px;
    padding-bottom: 46px;
}